In [21]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', delim_whitespace=True, header=None)

/var/folders/z2/rmvv1qt937g_5bp6hf_qfy7h0000gn/T/ipykernel_11012/2720916928.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', delim_whitespace=True, header=None)

In [10]:
df.columns = ["mpg", "cylinders", "displacement", "horsepower", "weight","acceleration", "model_year", "origin", "car_name"]

In [12]:
df.dropna(inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [18]:
df['horsepower'] = pd.to_numeric(df['horsepower'] ,errors='coerce')

In [24]:
df['bestsellers'] = np.select([(df['cylinders'] == 8) & (df['model_year'] == 70), (df['cylinders'] == 6) & (df['model_year'] == 80)], [1, 2], default=0)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,bestsellers
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,1
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl,0
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup,0
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage,0
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger,0
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10,0

In [26]:
avg = df['horsepower'].mean()
min_weight = df['weight'].min()
print(f"avg horsepower is: {avg}")
print(f"min weight is: {min_weight}")

avg horsepower is: 104.46938775510205
min weight is: 1613.0

In [36]:
result = df.groupby(['cylinders', 'model_year'])['mpg'].max().reset_index()

In [39]:
result.rename(columns={'mpg':'max_mpg'}, inplace=True)

In [56]:
num_cars = df.loc[(df['weight'] < 3449) & (df['cylinders'] > 5)].shape[0]
print(f"Number of cars according to conditions: {num_cars}")

Number of cars according to conditions: 76